* {
  box-sizing: border-box;
}

h1 {
  color: blue;
  text-align:center;
}

.topright{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

P {
  width: 25%;
  float: left;
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 15px;
}

#left {
  float: left;
  width: 35%
   height: 280px;
}

#middle{
  float:left;
  width: 50px;
  height:280px;
}

#right{
  float:right;
  width:25%;
  height:280px;
}


  

 
