
.row {
  width:100%;
  }

h1 {
  color:blue;
}


#box{
  Padding: 10px;
  border: 5px solid black;
  width: 300px;
  height: 50px;
  margin-top:50px;
  overflox: auto;
}
  
p {
  margin-right: auto;
  margin-left: auto;
  width: 90%
  height: 250px
}

#p1{
  position:relative;
  top: 65px;
  left: 65px;
}
#p2{
  position: relative;
  top: 65px;
  left: 90px;
}

@media (min width: 992px) {
.col-lg-1, .col-lg-2, .col-lg-3{
float left;
border: 1px blue;
}

col-lg-1 {
width: 25%;
}

col-lg-2 {
width: 25%;
}

col-lg-2 {
width: 25%
}



@media (min width: 768px and (max width: 991px){

}


@media (max width: 767px) {

}
