* {
  box-sizing: border-box;
}
h1 {
  color: blue;
  float: center;
}

div {
}
P {
  width: 50px
  float: left;
  border: 1px solid black;
}


#p1 {
  background: green;
}

#p2 {
  background: blue;
}

#3 {
  background: red;
}
 

  

 
