
.row {
  width:100%;
  }

p {
  color:blue;
}

@media (min width: 992px) {
.col-lg-1, col-lg-2, col-lg-3{
float left;
border: 1px blue;
}

col-lg-1 {
width 25%;
}

col-lg-2 {
width: 25%;
}

col-lg-2 {
width: 25%
}



@media (min width: 768px and (max width: 991px){

}


@media (max width: 767px) {

}
